<table class="table table-bordered table-sm">
	<thead>
		<tr>
			<th>Ref Number</th>
			<th>Date Prepared</th>
			<th>Date Posted</th>
			<th>Particulars</th>
			<th>Status</th>
			<th>Book</th>
			<th>Action</th>
			<%# <th>&nbsp;</th> %>
		</tr>
	</thead>
	<tbody>
		<% @accounting_entries.each do |accounting_entry| %>
			<tr>
				<td><%= link_to accounting_entry.ref_number, accounting_entry_path(accounting_entry) %></td>
				<td><%= accounting_entry.date_prepared.strftime("%e %b %Y")  %></td>
				<td><%= accounting_entry.date_posted.strftime("%e %b %Y")  %></td>
				<td><%= accounting_entry.particular %></td>
				<td><%= accounting_entry.status %></td>
				<td><%= accounting_entry.book %></td>
				<td class="list-inline text-center">
					<li class="nav-item">
						<a class="nav-link" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fa-solid fa-circle-chevron-down icon-index"></i>
						</a>
						<ul class="dropdown-menu">
							<%= link_to 'View', accounting_entry_path(accounting_entry.id), class: "dropdown-item"  %>
							<%= link_to 'Edit', edit_accounting_entry_path(accounting_entry.id), class: "dropdown-item"  %>
							<%= link_to 'Delete', accounting_entry_path(accounting_entry.id), method: :delete, data: {confirm: "Are you sure you want to delete '#{accounting_entry.ref_number}'?"}, class: "dropdown-item" %>
						</ul>
					</li>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
