<div  class="container">
	<h3>Accounting Entry</h3>
		<ul class="list-inline">
			<li><b>Reference no:</b> <%= @accounting_entry.ref_number %></li>
			<li><b>Date Prepared:</b> <%= @accounting_entry.date_prepared.strftime(" %a, %e %b %Y") %></li>
			<b>Status:</b> <%= @accounting_entry.status %></li>
			<li><br>
				<%= link_to accounting_entries_path,  class: "btn btn-outline-info btn-sm" do %>
					<i class="fas fa-chevron-left"></i> Back
				<% end %>
			</li>
		</ul>

	<%= render "approve" %>
	<% if @accounting_entry.pending? %>
		<%= render "journal_entries/form" %>
	<% end %>

	<%= render "journal_entries/table" %>
</div> <br><hr>
